* {
    box-sizing: border-box;

    --color-primary: #E8833A;
    --color-secudary: #C3CFD9;
    --color-font: #293845;
    --color-footer: #9EADBA;
}

.root {
    height: 100vh;
    width: 100%;
}

.green {
    border: 1px solid #1AAE9E;
    background: #8DD7CF;
}

.grey {
    border: 1px solid #7B8B99;
    background: #C3CFD9;
}

.yellow {
    border: 1px solid #F7C52B;
    background: #FBE192;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

h1 {
    height: 70px;
    width: 100%;
    font-size: 34px;
    font-weight: 400;
    color: var(--color-primary);
    background-color: var(--color-secudary);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    height: 110px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    color: var(--color-font);
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster-list {
    height: auto;
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
}

.poster {
    height: auto;
    width: 48%;
    padding: 8px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 5px;
}

.poster img {
    height: auto;
    width: 100%;
}

.movie {
    margin: 0 10px;
}

.movie .container {
    padding-bottom: 120px;
}

.movie .day-list {
    height: auto;
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
}

.day {
    height: auto;
    width: 100%;
}

.day h3 {
    font-size: 20px;
    font-weight: 400;
}


.day ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 15px 0;
}

.time div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    width: 83px;
    font-size: 18px;
    color: rgb(255,255,255);
    border: none;
    border-radius: 3px;
    background-color: var(--color-primary);
    margin-right: 10px;
}

.time a {
    text-decoration: none;
}

.movie footer {
    height: 120px;
    width: 100%;
    background-color: var(--color-footer);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #9EADBA;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.movie footer img {
    height: 80%;
    width: auto;
    margin: 0 10px;
    border: 8px rgb(255,255,255) solid;
}

.movie footer h4 {
    font-size: 26px;
    font-weight: 400;
    margin-left: 10px;
}

.section .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 120px;
}

.section .seats {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(5,20%);
    padding: 0 5%;
}

.section .types {
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.section span {
    margin-top: 10px;
    font-size: 13px;
}

.section .seat {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-weight: 700;
    margin: 4px auto;
}

.section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section .data {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5%;
}

.data button{
    height: 42px;
    width: 225px;
    margin: 20px auto;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    background-color: var(--color-primary);
    font-size: 18px;
}

.section h5 {
    height: auto;
    width: 100%;
    text-align: left;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.section input {
    height: 51px;
    width: 100%;
    text-align: left;
    font-size: 18px;
    padding-left: 15px;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
}

.section footer {
    height: 120px;
    width: 100%;
    background-color: var(--color-footer);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #9EADBA;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.section footer img {
    height: 80%;
    width: auto;
    margin: 0 10px;
    border: 8px rgb(255,255,255) solid;
}

.section footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.section footer h4 {
    font-size: 26px;
    font-weight: 400;
    margin-left: 10px;
}

.success {
    height: auto;
    width: 100%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.success h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #247A6B;
    margin-bottom: -40px;
}

.success h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 40px;
    color: #293845;
}
.success h4 {
    font-size: 22px;
    font-weight: 400;
    color: #293845;
}

.success button{
    height: 42px;
    width: 225px;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    background-color: var(--color-primary);
}

.success a {
    margin: 60px auto 0 auto;
}